nav {
    background-color: #333;
    overflow: hidden;
    
    
  }
  
  nav ul
  {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:2em;
    
  }
  nav ul div h2{
    color: white;
  }
  .dd {
    display:flex;
    
    justify-content:end;
    align-items:center;
    list-style-type: none;
    margin-right: 6em;
    gap: 2em;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    font-size:1.5em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  
  